body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
}

h1{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

#title{
  background-color:#1768ac;
  color: #fff;
}

#testimonials{
  background-color: #1768ac;
  color: #fff;
}

#cta{
  background-color: #1768ac;
  color: #fff;
}

#footer{
  font-family: "Ubuntu", sans-serif;
  background-color: #1768ac;
  color: #fff;
}

/* containers */
.container-fluid{
  padding: 3% 15%;
}


/* navigation bar */

.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
}


/* heading & buttons*/
.row{
  margin-top: 10%;
}

.heading{
    margin-top: 12%;
  margin-bottom: 5%;
}

.download-button{
margin: 5% 3% 5% 0;
}

.testis-box{
  text-align: center;
  padding: 4.5%;
}


/* carousel */
.carousel-2{
  color: black;
}


/* images */
.phone {
  width: 100%;
  height: auto;
}

.testis{
  height: 150px;
}

.press-pic{
  height: 100px;
  width: 200px;
  margin: 150px 50px 150px;
}
